@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0%;
    font-family: 'poppins';
    font-size: 18px;
    color: #b1b4bd;
    background-color: #323a45;
    line-height: 20px;
}
a{
    color: #b1b4bd;
}
.nav-link:hover{
    color: #e74c3c !important;
}
.header-background{
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 750px;
    padding-bottom: 70px;
    background-image: -webkit-gradient(linear,left top, left bottom, from(rgba(50,58,69,0.9) ));
    background-image: linear-gradient(180deg, rgba(50,58,69,0.55), rgba(50,58,69,0.74)), url(img/forest.jpg);
    flex-direction: column;
    background-position: 0px 0px, 100% 50%;
    background-size: auto, cover;
    white-space: normal;
    object-fit: fill;
    -o-object-fit: fill;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
}
.sticky-nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding: 20px;
    z-index: 1;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order:o;
    -ms-flex-order: 0;
    order: 0;
    background-color: rgba(12,32,59,0.5);
}
.heading{
    color: white;
    font-weight: 900;
    padding: 24px;
    font-size: 5rem;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 8px;
    min-height: 100px;
    line-height: 1.4;
}
.header{
    color: white;
    font-weight: 900;
    padding: 24px;
    font-size: 5rem;
}
.btn{
    padding: 16px;
    border-radius: 10px;
    background-color: #e74c3c !important;
    color: white;
}
.btn:hover{
 color:white !important;
 background-color: rgba(93, 236, 93, 0.836) !important;
}
.navbar-brand{
    font-size: 32px !important;
    display: block;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1.4rem 1rem;
    font-size: 1.2rem;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
    color: #e74c3c !important;
}
.column-left{
    min-height: 500px;
    background-image: -webkit-gradient(linear,left top, left bottom, from(rgba(12,32,59,0.9) ));
    background-image: linear-gradient(180deg, rgba(12,32,59,0.55), rgba(12,32,59,0)), url(img/code\ \(2\).jpg);
    background-position: 0px 0px, 100% 50%;
    background-size: auto, cover;
    background-attachment: scroll,scroll;
    object-fit: fill;
    -o-object-fit: cover;

}
.section-title{
    margin-top: 40px !important;
    padding: 5rem 2rem 0rem 5rem !important;
    font-size: 2.8rem;
    color: #b1b4bd;
    font-weight: 500;
}
.paragraph{
    margin-top: 15px;
    padding: 1rem 5rem 1rem 5rem;
    font-size: 1.1rem;
    color: #b1b4bd;
    line-height: 1.4;
    text-align: justify;
}
.our-service-right{
    min-height: 500px;
    background-image: -webkit-gradient(linear,left top, left bottom, from(rgba(12,32,59,0.9) ));
    background-image: linear-gradient(180deg, rgba(12,32,59,0.55), rgba(12,32,59,0)), url(img/secure.jpg);
    background-position: 0px 0px, 100% 50%;
    background-size: auto, cover;
    background-attachment: scroll,scroll;
    object-fit: fill;
    -o-object-fit: cover;
}
.service-section{
    margin-top: 20px !important;
    padding: 5rem 2rem 0rem 5rem !important;
    font-size: 2.8rem;
    color: #b1b4bd;
    font-weight: 500;
    font-size: 2.8rem;
}
.service-title-1{
    padding: 16px 32px 16px 5rem;
    font-size: 1.8rem;

}
.service-title-2{
    padding: 16px 32px 16px 5rem;
    font-size: 1.8rem;
    
}
.service-paragraph-1{
    margin-top: 15px;
    padding: 0rem 1rem 1rem 5rem;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.4;
}
.service-paragraph-2{
    margin-top: 15px;
    padding: 0rem 1rem 1rem 5rem;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.4;
}
.bi-laptop{
    font-size: 6rem;
    color: #e74c3c;
    padding: 3rem 2rem 1rem 5rem;
}
.bi-shield-fill-check{
    font-size: 6rem;
    color: rgb(98, 241, 98);
    padding: 3rem 2rem 1rem 5rem;  
}
.bi{
    margin: 4px;
    font-size: 32px;
  
}
.social-media{
    margin: 24px;
}
.portfolio{
    min-height: 750px;
    overflow: hidden;
}
.gallery{
    min-height: 252px;
    background-position: 0px 0px;
    background-size: cover;
    opacity: 1;

}
.img-1{
    background-image: -webkit-gradient(linear,left top, left bottom, from(rgba(12,32,59,0.9) ));
    background-image: linear-gradient(180deg, rgba(12,32,59,0.55), rgba(12,32,59,0)), url(img/img1.jpg); 
}
.img-2{
    background-image: -webkit-gradient(linear,left top, left bottom, from(rgba(12,32,59,0.9) ));
    background-image: linear-gradient(180deg, rgba(12,32,59,0.55), rgba(12,32,59,0)), url(img/img2.jpg); 
}
.img-3{
    background-image: -webkit-gradient(linear,left top, left bottom, from(rgba(12,32,59,0.9) ));
    background-image: linear-gradient(180deg, rgba(12,32,59,0.55), rgba(12,32,59,0)), url(img/img3.jpg); 
}
.img-4{
    background-image: -webkit-gradient(linear,left top, left bottom, from(rgba(12,32,59,0.9) ));
    background-image: linear-gradient(180deg, rgba(12,32,59,0.55), rgba(12,32,59,0)), url(img/img4.jpg); 
}
.img-5{
    background-image: -webkit-gradient(linear,left top, left bottom, from(rgba(12,32,59,0.9) ));
    background-image: linear-gradient(180deg, rgba(12,32,59,0.55), rgba(12,32,59,0)), url(img/img5.jpg); 
}
.img-6{
    background-image: -webkit-gradient(linear,left top, left bottom, from(rgba(12,32,59,0.9) ));
    background-image: linear-gradient(180deg, rgba(12,32,59,0.55), rgba(12,32,59,0)), url(img/img6.jpg); 
}
.left-center-block{
    width: 100%;
    left: 0;
    height: 100%;
    z-index: 999;
    overflow: hidden;

}
.left-center-text{
    display: table;
    position: relative;
    height: 100vh;
    padding: 0 10px ;
    text-align: left;
}
.left-center-part{
    display: table cell;
    vertical-align: middle;
    
}
.team-section{
    padding: 0rem 0rem 1rem 0rem;
    font-size: 2.8;
    font-weight: 500;
    margin-top: 28px;

}
.team-paragraph{
    padding: 0rem 2rem 1rem 0rem;
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: justify;

}
.block-team1{
    border-right: 4px solid white;
    display: block;
}
@media only screen and (max-width: 300px) {
    .block-team1 {
      display: none;
    }
  }
.btn1{
    max-width: 100px;
    padding: 16px;
    border-radius: 10px;
    background-color: #e74c3c !important;
    color: white;
}
.btn1:hover{
 color:white !important;
 background-color: rgba(93, 236, 93, 0.836) !important;
}
.contact-section{
    padding: 0rem 0rem 1rem 0rem;
    font-size: 2.8;
    font-weight: 500;
    margin-top: 28px;

}
.contact-right{
    background-image: -webkit-gradient(linear,left top, left bottom, from(rgba(12,32,59,0.9) ));
    background-image: linear-gradient(180deg, rgba(12,32,59,0.55), rgba(12,32,59,0)), url(img/clear9.jpg); 
    background-repeat: no-repeat;
    background-size: contain;
}
.heading2{
    color: white;
    font-weight: 200;
    padding: 24px;
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 8px;
    min-height: 100px;
    line-height: 1.4;
}













